name: Node.js CI

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  ci:
    name: Node.js CI
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm install -g pnpm && pnpm install

      - name: Run git-diff
        run: npx @canyonjs/git-diff

      - name: Run tests
        run: pnpm run test

      - name: Upload coverage to Canyon
        uses: canyon-project/canyon-action@v1.0.14
        with:
          coverage-file: coverage/coverage-final.json
          canyon-url: https://app.canyonjs.io
          instrument-cwd: ${{ github.workspace }}

      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: coverage-report
          path: coverage/
          retention-days: 30
        continue-on-error: true
